/**
* ! to change the default style of the body
**/

@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Road+Rage&display=swap');

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color:palegoldenrod;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 28vh;
}

.container2{
    display: flex;
    justify-content: center;
    align-items: center;
}

/**
* ! to change the style of the content
**/

h1{
    display: flex;
    justify-content: center;
    color: #000;
    font-family: 'Road Rage', cursive;
    font-size: 80px;
    text-shadow: 3px 3px sienna;
}

.btn, .btn2{
    display: block;
    outline: none;
    font-family: 'Hammersmith One', sans-serif;
    font-weight: 900;
    border: 0;
    padding: 15px 31px;
    border-radius: 30px;
    line-height: 1.4;
    font-size: 25px;
    cursor: pointer;
    transition: 5s linear;
}

.btn:active{
    transform: scale(8);
}

.btn2:active{
    transform: scale(8);
}